@model Tipoul.UserPanel.WebUI.Models.Wizard.Profile.BusinessModel

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <div class="card card-custom">
                <div class="card-body p-0">
                    <!--begin::ویزارد-->
                    <div class="wizard wizard-1" id="kt_wizard_v1" data-wizard-state="first" data-wizard-clickable="false">

                        @await Html.PartialAsync("_header")

                    </div>
                    <div class="wizard wizard-2" id="kt_wizard_v2" data-wizard-state="first" data-wizard-clickable="false">

                        @await Html.PartialAsync("_profileSidebar")

                        <!--begin::ویزارد Body-->
                        <div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
                            @if(Context.Request.Query["saved"] == "True")
                            {
                                <div class="col-xl-12 mb-10 text-center"><div class="alert alert-success py-2">اطلاعات سکونتی شما با موفقیت ثبت شد.</div></div>
                            }
                            <form class="form" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-3 col-form-label text-right">صنف</label>
                                        <div class="col-lg-9">
                                            <select class="form-control selectpicker" name="BusinessCategoryId" data-live-search="true">
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var businessCategory in Model.BusinessCategories)
                                                {
                                                    <option value="@businessCategory.Id" selected="@(Model.BusinessCategoryId.HasValue && Model.BusinessCategoryId.Value == businessCategory.Id)">@businessCategory.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-3 col-form-label text-right">زیر صنف</label>
                                        <div class="col-lg-9">
                                            <select class="form-control selectpicker" name="BusinessSubCategoryId" data-live-search="true" required>
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var businessSubCategory in Model.BusinessSelectedCaqtegorySubCategories)
                                                {
                                                    <option value="@businessSubCategory.Id" selected="@(Model.BusinessSubCategoryId.HasValue && Model.BusinessSubCategoryId.Value == businessSubCategory.Id)">@businessSubCategory.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-3 col-form-label text-right">استان</label>
                                        <div class="col-lg-9">
                                            <select class="form-control selectpicker" name="StateId" data-live-search="true">
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var state in Model.JobStates)
                                                {
                                                    <option value="@state.Id" selected="@(Model.StateId.HasValue && Model.StateId.Value == state.Id)">@state.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-3 col-form-label text-right">شهر</label>
                                        <div class="col-lg-9">
                                            <select class="form-control selectpicker" name="CityId" data-live-search="true" required>
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var city in Model.JobSelectedStateCities)
                                                {
                                                    <option value="@city.Id" selected="@(Model.CityId.HasValue && Model.CityId.Value == city.Id)">@city.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-3 col-form-label text-right">کد پستی</label>
                                        <div class="col-lg-9">
                                            <input class="form-control form-control-lg numeric" type="text" name="JobPostalCode" value="@Model.JobPostalCode" required data-max-length="10">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-3 col-form-label text-right">تلفن ثابت</label>
                                        <div class="col-lg-6">
                                            <input class="form-control form-control-lg numeric" type="text" name="JobPhoneNumberValue" value="@Model.JobPhoneNumberValue" required data-max-length="6">
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control form-control-lg numeric" type="text" name="JobPhoneNumberCode" value="@Model.JobPhoneNumberCode" required data-max-length="3">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-center">آدرس</label>
                                    <div class="offset-lg-1 col-lg-10 pr-1 pl-3">
                                        <textarea class="form-control form-control-lg" name="JobAddress" required>@Model.JobAddress</textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                    <div class="mr-2">
                                        <button type="button" class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">
                                            قبلی
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
                                            ارسال
                                        </button>
                                        <button type="submit" class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">
                                            بعد (مستندات هویتی)
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--end::ویزارد Body-->
                    </div>
                    <!--end::ویزارد-->
                </div>
                <!--end::ویزارد-->
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>