@model List<Tipoul.Framework.StorageModels.Ticket>

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::صندوق ورودی-->
            <div class="d-flex flex-row">
                
                @await Html.PartialAsync("_SideBar")

                <!--begin::لیست-->
                <div class="flex-row-fluid ml-lg-8 d-block" id="kt_صندوق ورودی_list">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">

                        <div class="subheader py-2 py-lg-4  subheader-transparent " id="kt_subheader">
                            <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                                <div class="d-flex align-items-center flex-wrap mr-2"></div>
                                <div class="d-flex align-items-center">
                                    <a href="/notification/ticket" class="btn btn-light-primary font-weight-bold ml-2">ثبت تیکت جدید</a>
                                </div>
                            </div>
                        </div>

                        <!--begin::Body-->
                        <div class="card-body table-responsive px-0">
                            <!--begin::Items-->
                            <div class="list list-hover min-w-500px" data-صندوق="" ورودی="list">
                                @foreach (var item in Model)
                                {
                                    var lastStatus = item.TicketStatusHistories.OrderByDescending(f => f.CreateDate).FirstOrDefault();
                                    if (lastStatus == null)
                                    {
                                        lastStatus = new Tipoul.Framework.StorageModels.TicketStatusHistory();
                                        lastStatus.User = new Tipoul.Framework.StorageModels.User();
                                    }
                                    <a class="d-flex align-items-start list-item card-spacer-x py-3" data-صندوق="" ورودی="message" href="/notification/ticket/@item.Id">
                                        <div class="d-flex align-items-center">
                                            <div class="d-flex align-items-center flex-wrap w-150px mr-3" data-toggle="view">
                                                <span class="symbol symbol-35 mr-3">
                                                    <span class="symbol-label" style="background-image: url('@(string.IsNullOrWhiteSpace(lastStatus.User.AvatarURL) ? "/img/001-boy.svg" : lastStatus.User.AvatarURL)')"></span>
                                                </span>
                                                <span class="font-weight-bold text-dark-75 text-hover-primary">@lastStatus.User.FirstName @lastStatus.User.LastName</span>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 mt-2 mr-2" data-toggle="view">
                                            <div>
                                                <span class="font-weight-bolder font-size-lg mr-2">@item.Title</span>
                                                <span class="text-muted">@item.TicketMessages.OrderByDescending(f => f.CreateDate).Select(f => f.Message.Substring(0, Math.Min(50, f.Message.Length))).FirstOrDefault()</span>
                                            </div>
                                            <div class="mt-2">
                                                <span class="label label-light-danger font-weight-bold label-inline">@lastStatus.Status</span>
                                            </div>
                                        </div>
                                        <div class="mt-2 mr-3 font-weight-bolder w-150px text-right date-container" data-toggle="view">
                                            @Tipoul.Framework.Utilities.Converters.DateConverter.ToShamsy(item.CreateDate, true)
                                            @*<a class="btn btn-sm btn-light-success mt-2" href="/notification/ticket/@item.Id">مشاهده</a>*@
                                        </div>
                                    </a>
                                }
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::لیست-->
            </div>
            <!--end::صندوق ورودی-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>