@model Tipoul.UserPanel.WebUI.Models.Profile.LegalProfileModel

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::زیر هدر-->
    <div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::اطلاعات-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Mobile Toggle-->
                <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                    <span></span>
                </button>
                <!--end::Mobile Toggle-->
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">
                        پروفایل
                    </h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::اطلاعات-->
        </div>
    </div>
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::پروفایل اطلاعات شخصی-->
            <div class="d-flex flex-row">

                @await Html.PartialAsync("_SideBar")

                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Form-->
                        <form id="personal-info-form" class="form" method="post" enctype="multipart/form-data">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column" style="display: inline-block;">
                                    <h3 class="card-label font-weight-bolder text-dark">اطلاعات حقوقی</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">اطلاعات حقوقی خود را به روز کنید</span>
                                </div>
                                <div class="card-toolbar" style="display: inline-block; float: left;">
                                    <button type="submit" class="btn btn-success mr-2">ذخیره تغییرات</button>
                                </div>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">لوگو</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="image-input image-input-outline" id="kt_profile_avatar" style="background-image: url(/img/blank.png)">
                                                <div class="image-input-wrapper" style="background-image: url(@(!string.IsNullOrWhiteSpace(Model.LogoURL) ? Model.LogoURL : string.Empty))"></div>

                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="تغییر لوگو">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" name="logo" accept=".png, .jpg, .jpeg">
                                                    <input type="hidden" name="profile_avatar_remove">
                                                </label>

                                            </div>
                                            <span class="form-text text-muted">فایل های مجاز:  png, jpg, jpeg.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group row">
                                        <label class="col-form-label col-lg-4 col-sm-12 text-lg-right">روزنامه رسمی</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            @if (!string.IsNullOrWhiteSpace(Model.NewsleterPictureRejectReason))
                                            {
                                                <div class="alert alert-danger">@Model.NewsleterPictureRejectReason</div>
                                            }
                                            <div class="@(Model.IsNewsleterPictureAccepted ? "bg-success d-inline-block pt-2 px-2 rounded" : string.Empty)">
                                                <div class="image-input image-input-outline" id="kt_image_1">
                                                    <div class="image-input-wrapper" style="background-image: url(@(string.IsNullOrWhiteSpace(Model.NewsleterPictureUrl) ? "/img/blank.png" : Model.NewsleterPictureUrl))"></div>
                                                    @if (!string.IsNullOrWhiteSpace(Model.NewsleterPictureRejectReason) || string.IsNullOrWhiteSpace(Model.NewsleterPictureUrl))
                                                    {
                                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="تغییر تصویر روزنامه رسمی">
                                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                                            <input type="file" name="identityNewsletter" accept=".png, .jpg, .jpeg">
                                                            <input type="hidden" name="profile_avatar_remove">
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-xl-4 col-lg-4 col-form-label text-right">نام شرکت</label>
                                        <div class="col-lg-8">
                                            <input class="form-control form-control-lg" type="text" name="CompanyName" value="@Model.CompanyName" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-xl-4 col-lg-4 col-form-label text-right">نام تجاری</label>
                                        <div class="col-lg-8">
                                            <input class="form-control form-control-lg" type="text" name="CommertialName" value="@Model.CommertialName" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-4 col-form-label text-right">صنف</label>
                                        <div class="col-lg-8">
                                            <select class="form-control selectpicker" name="BusinessCategoryId" data-live-search="true">
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var businessCategory in Model.BusinessCategories)
                                                {
                                                    <option value="@businessCategory.Id" selected="@(Model.BusinessCategoryId.HasValue && Model.BusinessCategoryId.Value == businessCategory.Id)">@businessCategory.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-4 col-form-label text-right">زیر صنف</label>
                                        <div class="col-lg-8">
                                            <select class="form-control selectpicker" name="BusinessSubCategoryId" data-live-search="true" required>
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var businessSubCategory in Model.SelectedBusinessCategoryBusinessSubCategories)
                                                {
                                                    <option value="@businessSubCategory.Id" selected="@(Model.BusinessSubCategoryId.HasValue && Model.BusinessSubCategoryId.Value == businessSubCategory.Id)">@businessSubCategory.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12 form-group row">
                                        <label class="col-lg-2 col-form-label text-right">آدرس سایت</label>
                                        <div class="col-lg-10">
                                            <input class="form-control form-control-lg website-url" type="text" name="WebSiteURL" value="@Model.WebSiteURL" required>
                                            <span class="text-danger invalid-website-url" style="display: none;">آدرس وبسایت باید با http یا https شروع شود</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-xl-4 col-lg-4 col-form-label text-right">شناسه ملی</label>
                                        <div class="col-lg-8">
                                            <input class="form-control form-control-lg numeric" type="text" name="NatitonalCode" value="@Model.NatitonalCode" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-xl-4 col-lg-4 col-form-label text-right">شماره ثبت</label>
                                        <div class="col-lg-8">
                                            <input class="form-control form-control-lg numeric" type="text" name="RegisterNumber" value="@Model.RegisterNumber" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-xl-4 col-lg-4 col-form-label text-right">تلفن ثابت</label>
                                        <div class="col-lg-8">
                                            <input class="form-control form-control-lg numeric" type="text" name="PhoneNumber" value="@Model.PhoneNumber" required data-max-length="11">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-xl-4 col-lg-4 col-form-label text-right">تاریخ ثبت</label>
                                        <div class="col-lg-8">
                                            <input class="form-control form-control-lg date-picker" type="text" name="RegisterDate" value="@Tipoul.Framework.Utilities.Converters.DateConverter.ToShamsy(Model.RegisterDate ?? DateTime.Now)" readonly required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-4 col-form-label text-right">استان</label>
                                        <div class="col-lg-8">
                                            <select class="form-control selectpicker" name="StateId" data-live-search="true">
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var state in Model.States)
                                                {
                                                    <option value="@state.Id" selected="@(Model.StateId.HasValue && Model.StateId.Value == state.Id)">@state.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 form-group row">
                                        <label class="col-lg-4 col-form-label text-right">شهر</label>
                                        <div class="col-lg-8">
                                            <select class="form-control selectpicker" name="CityId" data-live-search="true" required>
                                                <option value="">انتخاب کنید</option>
                                                @foreach (var city in Model.SelectedStateCities)
                                                {
                                                    <option value="@city.Id" selected="@(Model.CityId.HasValue && Model.CityId.Value == city.Id)">@city.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12 form-group row">
                                        <label class="col-lg-2 col-form-label text-right">آدرس</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control form-control-lg" name="CompanyAddress" required>@Model.CompanyAddress</textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-12 form-group row">
                                        <label class="col-lg-2 col-form-label text-right">توضیحات</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control form-control-lg" name="Description">@Model.Description</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::پروفایل اطلاعات شخصی-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@section scripts {
<script>
    $(document).ready(function () {

        $("#personal-info-form").submit(function() {
            if ($(".website-url").val().startsWith("http://") || $(".website-url").val().startsWith("https://")) {
                return true;
            } 
            else {
                $(".invalid-website-url").show();
                return false;
            }
        });

        $("select[name=StateId]").change(function () {

            $("select[name=CityId]").html("<option calue=''>در حال بارگزاری</option>").selectpicker("refresh");

            $.ajax({
                url: "/profile/getcities?stateid=" + $(this).val(),
                success: function (response) {
                    var options = "<option value=''>انتخاب کنید</option>";

                    for (var i = 0; i < response.length; i++) {
                        var option = response[i];
                        options += "<option value='" + option.id + "'>" + option.name + "</option>";
                    }

                    $("select[name=CityId]").html(options).selectpicker("refresh");
                }
            });
        });

        $("select[name=BusinessCategoryId]").change(function () {

            $("select[name=BusinessSubCategoryId]").html("<option calue=''>در حال بارگزاری</option>").selectpicker("refresh");

            $.ajax({
                url: "/profile/getBusinessSubCategories?BusinessCategoryId=" + $(this).val(),
                success: function (response) {
                    var options = "<option value=''>انتخاب کنید</option>";

                    for (var i = 0; i < response.length; i++) {
                        var option = response[i];
                        options += "<option value='" + option.id + "'>" + option.name + "</option>";
                    }

                    $("select[name=BusinessSubCategoryId]").html(options).selectpicker("refresh");
                }
            });
        });
    });
</script>
}