@using Tipoul.UserPanel.WebUI.Models.Profile
@model VerifyModel

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::زیر هدر-->
    <div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::اطلاعات-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Mobile Toggle-->
                <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                    <span></span>
                </button>
                <!--end::Mobile Toggle-->
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">
                        پروفایل
                    </h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::اطلاعات-->
        </div>
    </div>
    <!--end::زیر هدر-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::پروفایل اطلاعات شخصی-->
            <div class="d-flex flex-row">

                @await Html.PartialAsync("_SideBar")

                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Form-->
                        <form class="form" method="post" enctype="multipart/form-data">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column" style="display: inline-block;">
                                    <h3 class="card-label font-weight-bolder text-dark">مستندات هویتی</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">مستندات هویتی خود را به روز کنید</span>
                                </div>
                                <div class="card-toolbar" style="display: inline-block; float: left;">
                                    <button type="submit" class="btn btn-success mr-2">ذخیره تغییرات</button>
                                </div>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">اعتبار سنجی</label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        @if (!string.IsNullOrWhiteSpace(Model.VerificationPictureRejectReson))
                                        {
                                            <div class="alert alert-danger">@Model.VerificationPictureRejectReson</div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.VerificationPictureURL))
                                        {
                                            <div class="@(Model.IsVerificationPictureAccepted ? "bg-success d-inline-block pt-2 px-2 rounded" : string.Empty)">
                                                <div class="image-input image-input-outline" id="kt_image_1">
                                                    <div class="image-input-wrapper" style="background-image: url(@Model.VerificationPictureURL)"></div>
                                                    @if (!string.IsNullOrWhiteSpace(Model.VerificationPictureRejectReson))
                                                    {
                                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="تغییر آواتار">
                                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                                            <input type="hidden" name="profile_avatar_remove">
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="dropzone dropzone-default" id="kt_dropzone_1" data-action-url="/profile/uploadIdentityDocument?type=@((int)VerifyModel.IdentityDocumentType.Verification)" data-drop-zone="true">
                                                <div class="dropzone-msg dz-message needsclick">
                                                    <h3 class="dropzone-msg-title">تصویر اعتبار سنجی را در اینجا رها کنید یا برای بارگذاری کلیک کنید.</h3>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">تصویر شناسنامه</label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        @if (!string.IsNullOrWhiteSpace(Model.BirthCertificatePictureRejectReason))
                                        {
                                            <div class="alert alert-danger">@Model.BirthCertificatePictureRejectReason</div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.BirthCertificatePictureURL))
                                        {
                                            <div class="@(Model.IsBirthCertificatePictureAccepted ? "bg-success d-inline-block pt-2 px-2 rounded" : string.Empty)">
                                                <div class="image-input image-input-outline" id="kt_image_1">
                                                    <div class="image-input-wrapper" style="background-image: url(@Model.BirthCertificatePictureURL)"></div>
                                                    @if (!string.IsNullOrWhiteSpace(Model.BirthCertificatePictureRejectReason))
                                                    {
                                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="تغییر آواتار">
                                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                                            <input type="hidden" name="profile_avatar_remove">
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="dropzone dropzone-default" id="kt_dropzone_2" data-action-url="/profile/uploadIdentityDocument?type=@((int)VerifyModel.IdentityDocumentType.BirthCertificate)" data-drop-zone="true">
                                                <div class="dropzone-msg dz-message needsclick">
                                                    <h3 class="dropzone-msg-title">تصویر شناسنامه را در اینجا رها کنید یا برای بارگذاری کلیک کنید.</h3>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">تصویر کارت ملی</label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        @if (!string.IsNullOrWhiteSpace(Model.NationalCardPictureRejectReason))
                                        {
                                            <div class="alert alert-danger">@Model.NationalCardPictureRejectReason</div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.NationalCardPictureURL))
                                        {
                                            <div class="@(Model.IsNationalCardPictureAccepted ? "bg-success d-inline-block pt-2 px-2 rounded" : string.Empty)">
                                                <div class="image-input image-input-outline" id="kt_image_1">
                                                    <div class="image-input-wrapper" style="background-image: url(@Model.NationalCardPictureURL)"></div>
                                                    @if (!string.IsNullOrWhiteSpace(Model.NationalCardPictureRejectReason))
                                                    {
                                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="تغییر آواتار">
                                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                                            <input type="hidden" name="profile_avatar_remove">
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="dropzone dropzone-default" id="kt_dropzone_3" data-action-url="/profile/uploadIdentityDocument?type=@((int)VerifyModel.IdentityDocumentType.NationalCard)" data-drop-zone="true">
                                                <div class="dropzone-msg dz-message needsclick">
                                                    <h3 class="dropzone-msg-title">تصویر کارت ملی را در اینجا رها کنید یا برای بارگذاری کلیک کنید.</h3>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::پروفایل اطلاعات شخصی-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>